<p><strong>Nombre de tweet signalés</strong> @tweet_count</p>
<p><strong>Nombre de compte signalés</strong> @account_count</p>
<p><strong>Nombre de signalements</strong> @alert_count</p>
<p><strong>Nombre d'alerteurs</strong> @alerter_count</p>




